<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sorteos.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
    <Sorteos.Services.Properties.Settings>
      <setting name="SendGridApiKey" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="TokenSecret" serializeAs="String">
        <value>a6991463bb48bfbedb3737faa417492d</value>
      </setting>
      <setting name="EmailAccount" serializeAs="String">
        <value>notificaciones@regresoaclasesmilky.com</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Milky</value>
      </setting>
      <setting name="FacebookLink" serializeAs="String">
        <value>https://www.facebook.com/OrientalOFICIAL/</value>
      </setting>
      <setting name="InstagramLink" serializeAs="String">
        <value>https://www.instagram.com/orientaloficial/</value>
      </setting>
      <setting name="WhatsappLink" serializeAs="String">
        <value>https://api.whatsapp.com/send?phone=593990588888</value>
      </setting>
      <setting name="LogoSrc" serializeAs="String">
        <value>https://gruporiental.com/wp-content/uploads/2018/10/logo-web2-oriental-p.fw_.png</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://regresoaclasesmilky.com</value>
      </setting>
      <setting name="PageTitle" serializeAs="String">
        <value>Regreso a Clases Milky</value>
      </setting>
      <setting name="FacebookClientId" serializeAs="String">
        <value>2733796896839313</value>
      </setting>
      <setting name="FacebookSecretKey" serializeAs="String">
        <value>5ab1d5832b51d4cf077821c26b1e8ae8</value>
      </setting>
      <setting name="FacebookRedirectUri" serializeAs="String">
        <value>https://regresoaclasesmilky.com/Login</value>
      </setting>
    </Sorteos.Services.Properties.Settings>
  </applicationSettings>
</configuration>
