<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sendGridApiKey" value="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" />
    <add key="token_secret" value="dom.alva1995@gmail.com" />
    <add key="emailAccount" value="dom.alva1995@gmail.com" />
    <add key="company" value="Oriental" />
    <add key="facebook_link" value="Oriental" />
    <add key="instagram_link" value="Oriental" />
    <add key="whatsapp_link" value="Oriental" />
    <add key="sorteos-secret-key" value="a6991463bb48bfbedb3737faa417492d" />
    <add key="logo_src" value="https://gruporiental.com/wp-content/uploads/2018/10/logo-web2-oriental-p.fw_.png" />
  </appSettings>
</configuration>