<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Auth.master.cs" Inherits="Sorteos.Web.Auth" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

    <webopt:BundleReference runat="server" Path="~/Content/css/login" />

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <% if (!string.IsNullOrEmpty(Sorteos.Services.AppSingleton.Instance.PatternSrc))
        { %>
    <style>
        .contenedor {
            background-image: url('/Content/images/<%: Sorteos.Services.AppSingleton.Instance.PatternSrc %>');
            background-repeat: no-repeat;
        }
    </style>
    <%}%>
</head>
<body>
    <div class="contenedor">
        <div class="login-content">
            <form runat="server">
                <div class="login-div z-depth-5">
                    <div class="row">
                        <asp:ContentPlaceHolder ID="logo" runat="server">
                            <div class="logo">
                                <img id="mainLogo" runat="server" class="logo" />
                            </div>
                        </asp:ContentPlaceHolder>
                    </div>
                    <div class="row">
                        <asp:ContentPlaceHolder ID="main" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    <div class="row">
                        <h6 class="o-label"><span>Sitio</span></h6>
                        <a href="/Login">Inicio</a>
                        <br />
                        <a href="/Condiciones-Uso">Condiciones de Uso</a>
                        <br />
                        <a href="/Politica-Privacidad">Políticas de privacidad</a>
                    </div>
                    <div class="row">
                        <b>Copyright &copy; 
                        </b>
                        <span id="currentYear"></span>
                        Grupo Oriental 
                            
                            <script>
                                (function () {
                       const yearLabel = document.getElementById('currentYear');
                       yearLabel.innerText = new Date().getUTCFullYear();
                   })();
                            </script>
                    </div>
                </div>
                <%: Scripts.Render("~/bundles/login") %>
            </form>
        </div>
    </div>
</body>
</html>
